@font-face {
    src: url("../resources/fonts/Roboto-Light.ttf");
    font-family: "Roboto Light";
}

body {
    margin: 0;
}

h1 {
}
p{

}
.box{
    border: 5px solid black;
    font-size: 5em;
    width: 250px;
   height: 250px;
}
#firstBox{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: red;
}
#secondBox{
    background-color: blue;
    margin: auto;
}
