* {
    box-sizing: border-box;
}
body {
}
span {
    background-color: blue;
    display: block;
    width: 100px;
}
.container{
    padding: 25px;
    border: 4px solid black;
    height: auto;
    width: 110px;
    float: left;
    min-height: 90%;
}
