body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
button{
    font-size: 2em;
}
#result-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: auto;
}